<!DOCTYPE html>
<html>
    <head>
        <script src="/js/logic.js"></script>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{desc}}</p>
        <button onclick="getD('faridabad')">Click</button>
    </body>
</html>